.page {
  display: flex;
  flex-direction: row;
  padding: 10px;
}


.left-container {
  height: 100%;
  width: 50%;
  margin: 10px;
}

.right-container {
  margin: 10px;
  height: 100%;
  width: 50%;
}