header {
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: darkgoldenrod;
  height: 64px;
}

header * {
  align-items: center;
  margin: 8px;
}

.header-logo {
  max-height: 100%;
  display: flex;
}

.header-logo > img {
  max-height: 100%;
  width: 120px;
  object-fit: contain;
}


.header-links {
  
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.header-links > * { 
};